* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:center;
    height:190px;
    background-color:#333;
}

.header h2{
    color:white;
}